<h3 style="text-align: center"><strong>INGRESO DE PRODUCTOS</strong></h3>

<div style="text-align: center">
    <h4><strong>Nombre: </strong><input type="text" #nom></h4>
    <h4><strong>Género: </strong><input type="text" #genero></h4>
    <h4><strong>Correo: </strong><input type="text" #email></h4>

<input type="submit" (click)="ingresarProductos(
    nom.value,
    genero.value,
    email.value
)">
</div>

<hr style="border-color: black">

<h3 style="text-align: center"><strong>ACTUALIZACIÓN DE PRODUCTOS</strong></h3>

<div style="text-align: center">
    <h4><strong>ID: </strong><input type="text" #idA></h4>
    <h4><strong>Nombre: </strong><input type="text" #nomA></h4>
    <h4><strong>Correo: </strong><input type="text" #emailA></h4>

<input type="submit" (click)="actualizacionProductos(
    idA.value,
    nomA.value,
    emailA.value
)">
</div>

<hr style="border-color: black">

<h3 style="text-align: center"><strong>ELIMINAR PRODUCTOS</strong></h3>

<div style="text-align: center">
    <h4><strong>Ingrese ID: </strong><input type="text" #id></h4>
    

<input type="submit" (click)="eliminarProductos(id.value)">
</div>

<br>
<hr style="border-color: black">


<app-informacion></app-informacion>



<!--{{nosotros | json}}-->
