<nav class="navbar navbar-inverse" style="background-color: black">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="./contactos" target="_blank">
        <img src="./assets/image/logo blanco s s.png" alt="logo">
      </a>
    </div>
    <ul class="nav navbar-nav" style="background-color: black">
      <br>
      <li><a href="productos" style="color: orange; font-size: 20px"> </a></li>
      <li class="active"><a href="home" style="color: orange; font-size: 20px">Home</a></li>
      <li><a href="productos" style="color: orange; font-size: 20px">Productos</a></li>
      <li><a href="informacion" style="color: orange; font-size: 20px">Información</a><br></li>
      <li><a href="contactos" style="color: orange; font-size: 20px">Contactos</a><br></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
