<div class="container">
  <h2 style="text-align: center"><strong>PRODUCTOS EN STOCK</strong></h2><br>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of productos">
      <div class="thumbnail">
        <br>
        <a href="{{item.imagen}}" target="_blank">
          <img src={{item.imagen}} class="imagen" alt="imagen_de_producto">
        </a>
        <div class="caption">
          <h6><strong>Nombre: </strong>{{item.nombre}} </h6>
          <h6><strong>Marca: </strong>{{item.marca}}</h6>
          <h6><strong>Estado: </strong>{{item.estado}}</h6>
          <h6><strong>Cambio por: </strong>{{item.preferencia}}</h6>
          <h6><strong>Teléfono: </strong>{{item.contacto}}</h6>
        </div>
        <div style="text-align: center">
          <button class="btn btn-warning" data-toggle="modal" data-target="#btnModalActualizar">Actualizar</button>
          <button style="margin-left: 10px" class="btnEliminar" 
          class="btn btn-danger" (click)="remove(item.id)">Eliminar</button>
        </div>
        <br>
      </div>

    </div>
  </div>


  <!-- Modal Actualizar -->
  <div id="btnModalActualizar" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>ACTUALIZACIÓN DE PRODUCTOS</strong></h3>
        </div>
        <div class="modal-body">

          <div style="text-align: center">
            <h4><strong>ID: </strong>
              <input type="text" #idP placeholder="{{productos.id}}">
            </h4>
            <h4><strong>Imagen: </strong>
              <input type="text" #img placeholder="{{productos.imagen}}">
            </h4>
            <h4><strong>Nombre: </strong>
              <input type="text" #name placeholder="{{productos.nombre}}">
            </h4>
            <h4><strong>Marca: </strong>
              <input type="text" #marca placeholder="{{productos.marca}}">
            </h4>
            <h4><strong>Preferencia de cambio: </strong><input type="text" #preferencia
                placeholder="{{productos.preferencia_de_cambio}}">
              </h4>
            <h4><strong>Estado: </strong>
              <input type="text" #estado placeholder="{{productos.estado}}">
            </h4>
            <h4><strong>Descripción: </strong>
              <input type="textarea" #descrip placeholder="{{productos.descripcion}}">
            </h4>
            <h4><strong>Contacto: </strong>
              <input type="text" #contact placeholder="{{productos.contacto}}">
            </h4>
            <h4><strong>Ciudad: </strong>
              <input type="text" #ciudad placeholder="{{productos.ciudad}}">
            </h4>
            <input class="btnVarios" type="submit" (click)="actualizacionProductos(
          idP.value,
          img.value,
          name.value,
          marca.value,
          preferencia.value,
          estado.value,
          descrip.value,
          contact.value,
          ciudad.value
      )">
          </div>

        </div>
        <div class="modal-footer">
          <button class="btnCerrar" data-dismiss="modal">Salir</button>
        </div>
      </div>

    </div>
  </div>
  <br>
  <div style="text-align: center">
    <button class="btnIngresar" data-toggle="modal" data-target="#btnModalInsertar">Ingresar un nuevo producto</button>
  </div>

  <!-- Modal Insertar -->
  <div id="btnModalInsertar" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><strong>INGRESO DE PRODUCTOS</strong></h3>
        </div>
        <div class="modal-body">

          <div style="text-align: center">
            <h4><strong>ID: </strong><input type="text" #idI placeholder="ID"></h4>
            <h4><strong>Imagen: </strong><input type="text" #imgI placeholder="link de la imagen"></h4>
            <h4><strong>Nombre: </strong><input type="text" #nameI placeholder="Tipo de producto"></h4>
            <h4><strong>Marca: </strong><input type="text" #marcaI placeholder="Marca y modelo"></h4>
            <h4><strong>Preferencia de cambio: </strong><input type="text" #preferenciaI
                placeholder="Lo que quiere recibir"></h4>
            <h4><strong>Estado: </strong><input type="text" #estadoI placeholder="De 1 al 10"></h4>
            <h4><strong>Descripción: </strong><input type="textarea" #descripI placeholder="Detalle del producto"></h4>
            <h4><strong>Contacto: </strong><input type="text" #contactI placeholder="Teléfono"></h4>
            <h4><strong>Ciudad: </strong><input type="text" #ciudadI placeholder="Donde se ubica"></h4>

            <input class="btnVarios" type="submit" (click)="ingresarProductos(
          idI.value,
          imgI.value,
          nameI.value,
          marcaI.value,
          preferenciaI.value,
          estadoI.value,
          descripI.value,
          contactI.value,
          ciudadI.value
              )">
          </div>
          <br>

        </div>
        <div class="modal-footer">
          <button class="btnCerrar" data-dismiss="modal">Salir</button>
        </div>
      </div>
    </div>
  </div>
</div>