<br>
        <div class="container" style="background-color: white">
            <div style="text-align: center">
              <a href="./home" target="_blank"><br><br>
                <img src="assets\image\logo negro.png" alt="Img" style="width: 25%;" ><br><br><br>
              </a>  
            </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">     
                            <fieldset>
                                <legend><strong><u>Información de Contacto</u></strong></legend>
                                <label><b>Teléfono: </b> </label>
                                <a href="https://api.whatsapp.com/send/?phone=593987801396&text&type=phone_number&app_absent=0" 
                                  target="_blank"> (+593) 9878 013 96
                                </a><br>
                                
                                <label><b>E-mail: </b> </label> 
                                <a href="https://api.whatsapp.com/send/?phone=593987801396&text&type=phone_number&app_absent=0" 
                                  target="_blank"> contacto@neon.ec
                                </a><br>
                              
                                <a href="https://api.whatsapp.com/send/?phone=593987801396&text&type=phone_number&app_absent=0" 
                                  target="_blank">
                                    <img src="assets\image\w.png" alt="Whatsapp" style="width:30px">
                                </a>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <img src="assets\image\f.png" alt="Facebook" style="width:30px">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="assets\image\t.png" alt="Twitter" style="width:30px">
                                </a>
                                <a href="https://ec.linkedin.com/" target="_blank">
                                    <img src="assets\image\n.png" alt="LinkedIn" style="width:30px">
                                </a>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <img src="assets\image\i.png" alt="Instagram" style="width:30px">
                                </a>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend><strong><u>Formulario de Contacto</u></strong></legend>

                                <label>Nombre</label><br>
                                <input type = "text" name="nom01" id="nom" style="width: 500px"/>
                                <br>

                                <label>E-mail</label><br>
                                <input type = "text" name="nom01" id="nom" style="width: 500px"/>

                                <label>Productos</label><br>
                                <textarea rows ="3" name="bio" id= "bio" style="width: 500px"></textarea> <br><br>             

                                <input type="checkbox"  id="costaCh"/>No soy un robot<br><br>
                                <button type = "button" style="width: 500px; background-color: dimgray; color: white" class="" >Enviar</button><br><br><br><br>                                      
                            </fieldset>
                        </div>
                    </div> 
                </div>
            </div> 
